//

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    #jumbo{
        background-image: url(../images/jumbotron.jpg);
        background-size: cover;
        height: 400px;
    }
  }

  @import 'partials/header';
