* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#app #jumbo {
  background-image: url(/images/jumbotron.jpg?1b0a3671766964a4114f90322970b124);
  background-size: cover;
  height: 400px;
}

#app #card {
  background-color: #1c1c1c;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;
}

#app #card #containerCard {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin: 0 auto;
  position: relative;
}

#app #card #containerCard #title {
  background-color: #0282f9;
  padding: 15px 20px;
  position: absolute;
  top: -60px;
  left: 20px;
  font-size: 22px;
  font-weight: bolder;
  cursor: pointer;
}

#app #card #containerCard a {
  flex-basis: 15%;
  padding: 30px 0;
  text-decoration: none;
  color: white;
}

#app #card #containerCard a:hover img {
  opacity: 60%;
}

#app #card #containerCard a img {
  width: 80%;
  max-height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

#app #card #containerCard a span {
  display: block;
  width: 80%;
  text-align: start;
  text-transform: uppercase;
  margin-top: 15px;
  margin-left: 25px;
  font-size: 15px;
}

@media screen and (max-width: 1400px) {
  #app #card #containerCard a {
    flex-basis: 20%;
  }
}

@media screen and (max-width: 1000px) {
  #app #card #containerCard a {
    flex-basis: 25%;
  }
}

#app #card button {
  background-color: #0282f9;
  align-self: center;
  padding: 12px 40px;
  margin: 20px;
  border: none;
}

#app #card button a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 130px;
}

header section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
}

header section img {
  width: 80px;
}

header section ul {
  list-style-type: none;
  margin: 20px 0;
}

header section ul li {
  display: inline-block;
  padding: 10px;
}

header section ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 15px;
}

header section ul li a.here {
  border-bottom: 4px solid #53b0f0;
  padding-bottom: 55px;
  color: #53b0f0;
}

@media screen and (max-width: 1200px) {
  header section ul li a.here {
    padding-bottom: 15px;
  }
}

header section ul li a:hover {
  color: #53b0f0;
}

